# Should be flyway.db.conf when in use
flyway.url=jdbc:sqlserver://server-addr:my-port;databaseName=my-database;encrypt=true;trustServerCertificate=true;integratedSecurity=true
flyway.locations=filesystem:db/sql
